
/* LIGHT THEME */

#layout-2 .a44-slider {
    background-color: #f6f6f6;
    color: #1e3348;
}

#layout-2 .a44-slider .range-wrapper {
    background-color: #e7e7e7;
}

#layout-2 .a44-slider .range-wrapper .name {
    font-weight: bold;
}

#layout-2 .a44-slider .range-wrapper .value-wrapper {
    font-weight: bold;
    color: #fd9937;
}

#layout-2 .a44-slider .value {
    color: #fd9937;
}

#layout-2 input[type="range"]::-webkit-slider-thumb {
    background-image: url("~@/assets/img/thumb-light.png");
}

#layout-2 input[type="range"]::-ms-thumb {
    background-image: url("~@/assets/img/thumb-light.png");
}

#layout-2 input[type="range"]::-moz-range-thumb {
    background-image: url("~@/assets/img/thumb-light.png");
}

#layout-2 input[type="range"]::-moz-range-track {
    background-color: rgba(0, 0, 0, .1);
}

#layout-2 input[type="range"]::-ms-fill-upper {
    background: rgba(0, 0, 0, .1);
    border-radius: 2px;
}

#layout-2 input[type="range"]:focus::-ms-fill-upper {
    background-color: rgba(0, 0, 0, .1);
}

#layout-2 .a44-offer .recommended {
    background-color: rgba(255, 255, 255, .65);
    color: #000;
}

#layout-2 .a44-offer .offer-details {
    background-color: #f6f6f6;
}

#layout-2 .a44-offer .offer-rate {
    color: #1e3348
}

#layout-2 .a44-offer .offer-name {
    color: #1e3348
}

#layout-2 .a44-offer .offer-url {
    color: #a6abb2;
}

#layout-2 .a44-offer .offer-param {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#10c86b+0,00ba8c+100 */
    background: rgb(16, 200, 107);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(16, 200, 107, 1) 0%, rgba(0, 186, 140, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(16, 200, 107, 1) 0%, rgba(0, 186, 140, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(16, 200, 107, 1) 0%, rgba(0, 186, 140, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#10c86b', endColorstr='#00ba8c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #fff;
}

#layout-2 .a44-offer .cta-icon {
    background-color: #e77e17;
    content: url("~@/assets/img/button-ico-orange.png");
    color: #ffb96e;
}

#layout-2 .a44-offer .cta-link {
    background-color: #fd9937;
    color: #fff;
}

#layout-2 .a44-offer .offer-description {
    color: #6b7583;
    background-color: #e7e7e7;
}

#layout-2 .a44-offer.recommended .offer-details {
    background-color: #f6f6f6;
}

#layout-2 .a44-offer.recommended .cta-link {
    background-color: #fd5337;
}

#layout-2 .a44-offer.recommended .cta-icon {
    background-color: #b8351f;
    content: url("~@/assets/img/button-ico-red.png");
    color: #fff;
}

#layout-2 .a44-offer.recommended .offer-param {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fd9937+0,ed8621+100 */
    background: rgb(253, 153, 55);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(253, 153, 55, 1) 0%, rgba(237, 134, 33, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(253, 153, 55, 1) 0%, rgba(237, 134, 33, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(253, 153, 55, 1) 0%, rgba(237, 134, 33, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fd9937', endColorstr='#ed8621', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #fff;
}

#layout-2 .a44-offer.recommended .offer-param-value {
    color: #fff;
}

#layout-2 .costs-info {
    background-color: #e7e7e7;
    color: #1e3348;
    font-size: 11.2px;
    padding: 8px;
    border-radius: 5px;
}